* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.topnavbar {
  width: 100%;
  background-color: rgb(96, 96, 96); /* Assuming you want a blue background */
  color: whitesmoke; /* Assuming you want white text */
  padding: 0.625rem 0; /* This will give some space inside your navbar */
  margin: 0;
  /* If you want the navbar to be fixed at the top */
  position: fixed;
  top: 3.5rem;
  left: 0;
  right: 0;
}

