/* TopNavBar.css */
.navbar-dark .navbar-nav .nav-link {
  color: white !important;
}

.navbar-dark .navbar-nav .nav-dropdown .dropdown-toggle,
.navbar-dark .navbar-nav .nav-dropdown .dropdown-menu .dropdown-item {
  color: white !important;
}

/* Ensure that the dropdown menu background is dark to contrast the white text */
.navbar-dark .navbar-nav .nav-dropdown .dropdown-menu {
  background-color: #343a40 !important;
}

